Package: @{package.name}
Version: @{application.version}
Architecture: all
Maintainer: @{package.developer} <@{package.maintainer}>
Description: @{package.synopsis}
 @{package.description}
Homepage: @{package.homepage}
Section: utils
Priority: extra
Recommends: @{deb.application.depends}
Enhances: nautilus-actions
