Package: @{package.name}
Version: @{application.version}
Architecture: all
Maintainer: @{package.developer} <@{package.maintainer}>
Description: @{package.synopsis}
 @{package.description}
Homepage: @{package.homepage}
Section: utils
Priority: extra
Depends: openjdk-@{jvm.version}-jre, libjna-java
Recommends: openjfx, mediainfo, libchromaprint-tools, p7zip-full, unrar
Enhances: nautilus-actions
