[Desktop Entry]
Type=Application
Name=@{application.name}
Comment=@{package.synopsis}
MimeType=@{deb.application.mimetype}
Exec=filebot %F
Icon=${SNAP}/meta/gui/icon.svg
Categories=@{deb.application.categories}
Actions=Rename;Subtitles;Checksum;
StartupNotify=true
StartupWMClass=@{deb.application.class}
X-Ubuntu-Gettext-Domain=@{package.name}
